body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('/img/');
}

h1 {
    font-size: 24px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
    max-width: 320px;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    cursor: pointer;
}

.cell.X {
    color: #FF5733; /* Cor para o jogador X */
}

.cell.O {
    color: #33B6FF; /* Cor para o jogador O */
}

#status {
    font-size: 20px;
    margin-top: 10px;
}

#reset {
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#reset:hover {
    background-color: #0b7dda;
}
